.width-fit-content { width: fit-content; }

.width-50p { width: 50%; }
.width-100p { width: 100%; }

.margin-top-20 { margin-top: 20px; }

.margin-bottom-20 { margin-bottom: 20px; }

.overflow-hidden { overflow: hidden; }

.font-size-2em { font-size: 2em; }
